/**
TODO: Генерировать автоматически этот файл
*/

:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
  --font-line-height-1: 16px;
  --font-line-height-2: 20px;
  --font-line-height-3: 24px;
  --font-line-height-4: 28px;
  --font-line-height-5: 32px;
  --font-line-height-6: 40px;
}

:root {
  --surface1: #ffffff;
  --border: #323232;
}

[data-color-scheme="dark"] {
  --surface1: #151515;
  --border: #808080;
}
